certifi==2017.7.27.1
chardet==3.0.4
cloudinary==1.8.0
dj-database-url==0.4.2
Django==2.2.24
django-appconf==1.0.2
django-cloudinary-storage==0.2.2
django-compressor==2.2
django-constance==2.0.0
django-el-pagination==3.1.0
django-froala-editor==2.7.1
django-jet==1.0.6
django-jinja==2.4.0
django-jinja2==0.1
django-modeltranslation==0.12.1
django-mptt==0.8.7
django-picklefield==1.0.0
django-robots==3.0
django-solo==1.1.2
django-taggit==0.22.1
gunicorn==19.4.5
httplib2==0.10.3
idna==2.6
Jinja2==2.9.6
MarkupSafe==1.0
mock==2.0.0
oauth2client==4.1.2
olefile==0.44
pbr==3.1.1
Pillow==4.3.0
psycopg2==2.7.3.2
pyasn1==0.3.7
pyasn1-modules==0.1.5
python-dateutil==2.6.1
python-memcached==1.58
pytz==2017.2
rcssmin==1.0.6
requests==2.18.4
rjsmin==1.0.12
rsa==3.4.2
six==1.11.0
sorl-thumbnail==12.4a1
uritemplate==3.0.0
urllib3==1.22
whitenoise==3.3.1
xlrd==1.1.0
