{% load i18n %}
{% load cache %}
{% load static %}

<header class="page-header">
    {% cache 600 header %}<div class="column"><h1><a href="{% url 'index' %}"><img src="scrnsamillion{% static 'img/logo.png' %}"></a></h1>{% endcache %}
        <form class="lang-select ui-front" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}" />
            <select type="submit" class="selectmenu" name="language" onchange="if(this.value !== 0) { this.form.submit(); }">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ language.code|capfirst }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="column">
        <!--
        <nav class="primary-navigation user-navigation">
            <ul><li><span><a href="https://pttrns.com/sign-in">Sign in</a></span></li></ul>
        </nav>
        -->
    </div>
</header>