<header class="page-header">
    <div class="column"><h1><a href="{% url 'index' %}">Pttrns</a></h1>
        <form class="lang-select ui-front" action="{{ url('set_language') }}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ strip_lang(request.path) }}" />
            <select class="selectmenu" name="language">
                {% set LANGUAGE_CODE = get_current_language() %}
                {% set LANGUAGES =  get_available_languages() %}
                {% set languages = get_language_info_list(LANGUAGES) %}
                {% for language in languages %}
                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                        {{ language.code|capfirst }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="column">
        <!--
        <nav class="primary-navigation user-navigation">
            <ul><li><span><a href="https://pttrns.com/sign-in">Sign in</a></span></li></ul>
        </nav>
        -->
    </div>
</header>