{% extends 'base.html' %}

{% load i18n %}
{% load thumbnail %}
{% load image_tags %}
{% load solo_tags %}

{% get_solo 'main.SiteMETA' as meta %}

{% block meta-additional %}

        <meta name="description" content="{{ app.description }}">
        <meta name="keywords" content="{{ meta.keywords }}">
        <meta name="author" content="{{ meta.author }}">

        <meta property="og:title" content="{{ app.name }}">
        <meta property="og:description" content="{{ app.description }}">
        <meta property="og:image" content="{{ app.logo.url }}">
    {% endblock %}

{% block title %}{{ block.super }} - {{ app.name }}{% endblock %}

{% block left_sidebar_head %}
    <section class="application-header ios-application">
        <a href="{{ app.link }}" target="_blank">
            {% thumbnail app.logo '120' crop='center' as img %}
                <img src="{{ img.url }}" class="profile-icon" alt="{{ app.name }}">
            {% endthumbnail %}
        </a>
        <h2>{{ app.name }}</h2>
    </section>
{% endblock %}
{% block left_sidebar_footer %}
    {% if app.developer_name %}
     <section class="application-footer">
         <a class="application-publisher" href="{{ app.developer_link }}" title="Midnight Labs LLC" target="_blank">© {{ app.developer_name }}</a>
     </section>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="screenshots">
        {% include page_template with in_app=True %}
    </div>
{% endblock %}


{% block additional %}
    <div class="lightbox hide" style="will-change: opacity; opacity: 0;">
        <a href="{{ request.META.HTTP_REFERER }}" class="lightbox-control lightbox-control-app"></a>
        <span class="lightbox-control lightbox-control-close" >{% trans 'Go to App shots' %}</span>
        <span class="lightbox-control lightbox-control-prev" style="display: block; top: 364.5px; left: 40px;"></span>
        <span class="lightbox-control lightbox-control-next" style="display: block; top: 364.5px; right: 40px;"></span>

        <div class="lightbox-strip">
            {% for screenshot in screenshots %}
                {% if screenshot.image %}
                    <figure class="lightbox-screen" data-screen-id="{{ screenshot.id }}">
                        <img src="{{ screenshot.image.url }}" data-width="{{ screenshot.image.width }}" data-height="{{ screenshot.image.height }}" alt="">
                    </figure>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}